header{display:flex; justify-content: space-between; position:fixed; width:100%;
    font-family: "Cute Font", sans-serif;}
.mannam_icon>.header_a{display:flex; align-items:center; color:red;}
.header_ul{display:flex;}
.header_ul_li>.header_mini_menu{height:0px; text-align:center; overflow:hidden;}
.header_ul_li>.header_a{display:flex; align-items:center;}
.header_ul_li>.header_a:hover{border-bottom: 2px solid blue; color:blue;}
.call_box>.header_a{display:flex; align-items:center; color:yellow;}
.header_menu_box{position:fixed; width:100%; height:0px; background-color:white; transition:0.3s; z-index:-1;}
section{width:100%;}
.image_scroll_box{width:100%; overflow:hidden;}
.image_box{width:100%;}
.section_image{width:100%;}